.card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-light);
  border-radius: 1rem;
  padding-bottom: 1rem;
}

.link {
  box-shadow: var(--card-shadow);
}

.link:hover,
.link:focus {
  box-shadow: none;
}

.link:hover h4,
.link:focus h4 {
  background-color: var(--color-secondary);
}

.link:active h4 {
  background-color: var(--color-active);
}

.img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card h4 {
  position: absolute;
  left: 0;
  top: 21rem;
  color: var(--color-light);
  background-color: var(--color-primary);
  width: fit-content;
  padding: 0.5rem 1rem;
  transition: 300ms;
}

.paragraph:first-of-type {
  padding-top: 2.5rem;
}

.paragraph {
  display: flex;
  padding: 0 1rem 0.6rem 1rem;
  text-transform: capitalize;
}

.paragraph span {
  font-weight: 500;
  margin-right: 0.5rem;
}

.icon {
  font-size: 2.2rem;
  color: var(--color-secondary);
  margin-right: 0.5rem;
}

@media only screen and (max-width: 700px) {
  .card h4 {
    top: 28rem;
  }
}

@media only screen and (max-width: 420px) {
  .card h4 {
    position: unset;
    margin-top: -0.4rem;
  }

  .paragraph:first-of-type {
    padding-top: 1.5rem;
  }
}
