.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12rem auto 0 auto;
  padding: 5rem 1rem 6rem 1rem;
  width: 100%;
  max-width: 50rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.form {
  width: 100%;
  max-width: 35rem;
  margin-top: 6rem;
}

.form div {
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.form input {
  margin-bottom: 0.2rem;
  padding: 0.5rem 0;
}

.form input,
.form textarea {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  background-color: transparent;
  outline: none;
  font-size: 1.6rem;
}

.form textarea {
  font-family: inherit;
  max-width: 35rem;
}

.form select {
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #3a3a3a;
}

.error,
.warning,
.success {
  color: #fbfbfb;
  padding: 0.5rem;
}

.error {
  background-color: #ff0000;
  margin-bottom: 0.5rem;
  max-width: fit-content;
}

.warning {
  background-color: #ff9d00;
  margin-bottom: 0.5rem;
  max-width: fit-content;
}

.success {
  background-color: #058b0c;
}
