.footer {
  display: flex;
  flex-direction: column;
  background-color: #7c7c7c;
  color: #fbfbfb;
  padding: 3rem 2rem 0.5rem 2rem;
}

.logo {
  font-size: 2.2rem;
  padding-bottom: 3rem;
}

.list {
  display: flex;
  border-top: 1px solid #fbfbfb;
  border-bottom: 1px solid #fbfbfb;
  padding: 3rem 0;
  width: 100%;
  max-width: 268px;
}

.icons {
  padding: 3rem 0;
}

.icon {
  font-size: 2.3rem;
}

.item:not(:last-of-type),
.icon_link:not(:last-of-type) {
  margin-right: 1.5rem;
}

.copyright {
  font-size: 1.1rem;
}

@media only screen and (max-width: 330px) {
  .list {
    flex-direction: column;
  }

  .item:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}
