.logo {
  font-size: 2.8rem;
  font-weight: 500;
  color: #2e2e2e;
  padding: 1rem;
}

.list {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #2e2e2e;
  padding: 1.8rem 1.5rem;
}

.link:hover,
.link:focus {
  color: #ff00b3;
}

.link:hover svg,
.link:focus svg {
  color: #ff00b3;
}

.icon {
  font-size: 2rem;
  margin-right: 0.2rem;
  color: #2e2e2e;
}

@media only screen and (max-width: 750px) {
  .logo {
    padding-left: 1rem;
  }

  .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fbfbfb;
  }

  .list {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 425px) {
  .link {
    font-size: 0;
    padding: 1.55rem 1rem;
  }

  .icon {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 350px) {
  .logo {
    padding-left: 0;
  }
}
