.logo {
  font-size: 3.6rem;
  font-weight: 500;
  font-family: "Pacifico", cursive;
  text-transform: capitalize;
  color: var(--color-font);
  padding: 0 1rem;
}

.list {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: var(--color-font);
  padding: 1.8rem 1.5rem;
}

.link:hover,
.link:focus {
  color: var(--color-secondary);
}

.link:hover svg,
.link:focus svg {
  color: var(--color-secondary);
}

.link:active {
  color: var(--color-active);
}

.link:active svg {
  color: var(--color-active);
}

.icon {
  font-size: 2rem;
  margin-right: 0.2rem;
  color: var(--color-font);
}

@media only screen and (max-width: 750px) {
  .logo {
    font-size: 2.8rem;
  }

  .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--color-light);
  }

  .list {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 510px) {
  .link {
    font-size: 0;
    padding: 1.55rem 1rem;
  }

  .icon {
    font-size: 2.5rem;
  }
}
