.section {
  background-image: url("/img/mao-yuqing-15_sm282qAE-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  .section {
    height: calc(100vh - 5.4rem);
  }
}

@media only screen and (max-width: 640px), (max-height: 600px) {
  .section {
    justify-content: flex-start;
  }
}
