.section {
  grid-template-columns: repeat(3, 1fr);
  background-image: url("/img/mao-yuqing-15_sm282qAE-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 47px);
}

.grid {
  display: grid;
  height: calc(100vh - 47px);
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.grid form {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.grid div {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

@media only screen and (max-width: 900px) {
  .grid div {
    grid-row: 3 / 4;
  }
}
