.section {
  background-image: url("/img/mao-yuqing-15_sm282qAE-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 47px);
  position: relative;
  overflow: hidden;
}
