.hero {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3rem;
}

.hero h1,
.hero p,
.hero button {
  position: relative;
  z-index: 1000;
}

.hero h1 {
  color: #fbfbfb;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

.hero p {
  width: 100%;
  max-width: 47rem;
  color: #fbfbfb;
  margin-bottom: 1.5rem;
}

.hero::before {
  content: "";
  width: 0;
  height: 0;
  border-right: 1100px solid transparent;
  border-bottom: 460px solid rgba(9, 148, 179, 0.85);
  bottom: 0;
  left: 0;
  position: absolute;
}
