.button {
  height: 45px;
  max-width: 200px;
  background-color: var(--color-secondary);
  color: var(--color-light);
}

.button:hover,
.button:focus {
  background-color: var(--color-hover);
}

.button:active {
  background-color: var(--color-active);
}
