.button {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;

  height: 45px;
  width: 100%;
  max-width: 200px;

  background-color: #ff00ae;
  color: #fbfbfb;

  border: none;
  border-radius: 1rem;

  transition: 300ms;
  cursor: pointer;
  outline: none;
}

.button:hover,
.button:focus {
  background-color: #00a2ff;
}

.button:focus {
  outline: 2px solid #ff00ae;
}
