.card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-light);
  border-radius: 1rem;
  box-shadow: var(--card-shadow);
}

.img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.heading {
  position: absolute;
  left: 0;
  top: 21rem;
  color: var(--color-light);
  background-color: var(--color-primary);
  width: fit-content;
  padding: 0.5rem 1rem;
}

.paragraph {
  padding: 2.5rem 1rem 1.5rem 1rem;
}

.btn {
  display: flex;
  margin: auto 1rem 1rem 1rem;
  padding: 1rem 1.5rem;
  max-width: fit-content;
  background-color: var(--color-secondary);
  color: var(--color-light);
  border-radius: 1rem;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-hover);
}

.btn:active {
  background-color: var(--color-active);
}

.icon {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

@media only screen and (max-width: 700px) {
  .heading {
    top: 28rem;
  }
}

@media only screen and (max-width: 420px) {
  .heading {
    position: unset;
  }

  .paragraph {
    padding: 1.5rem 1rem;
  }
}
