.button {
  height: 45px;
  max-width: 180px;
  margin-top: 1.5rem;

  background-color: var(--color-secondary);
  color: var(--color-light);
}

.button:hover,
.button:focus {
  background-color: var(--color-hover);
}

.button:active {
  background-color: var(--color-active);
}
